
Agent: {{ name }}
<br>
Rank: {{ rank }}
<br>
Alias: {{ alias }}
<br>
Nation: {{ nationality }}
<br>
Agency: {{ agency }}

<button class="btn btn-sm btn-danger pull-right delete-btn">Delete Dossier</button>
